body
{
	background-color: burlywood;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	background-image: url("../img/wallpaper5.png");
	background-repeat: no-repeat;
	background-size: cover;
}

header
{
	background: #324252;
	height: 6%;
	/* background-image: url("img/headerfoot.jpg");
	background-repeat: no-repeat;
	background-size: cover; */
}

header::after
{
	content: '';
	display: table;
	clear: both;
}
		
.logo
{
	float: left;
	position: relative;
	padding: 10px 0 20px 6px;
}
		
.container
{
	width: 80%;
	margin: 0 auto;
}

nav
{
	float: right;
}

nav ul 
{
	margin: 0;
	padding: 5px;
	list-style: none;
	color: black;
	text-align: center;
}

nav li
{
	display: inline-block;
	margin-left: 60px;
	margin-right: 50px;
	padding-top: 23px;
	position: relative;
}

nav a
{
	color: cadetblue;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
}

nav a:hover
{
	color: black;
}

nav a::before
{
	content:  ' ';
	display: block;
	height: 5px;
	background-color: black;
	position: absolute;
	top: 0;
	width: 0%;
	transition: all ease-in-out 250ms;
}

nav a:hover::before
{
	width: 100%;
}

.login 
{
	width: 300px;
	background-color: #324252;
	margin: 20% auto;
	position: relative;
	padding: 75px 50px 50px 50px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	border-radius: 10%;
}
		
input
{
    padding: 6px 12px;
    margin: 10% auto;
    background-color: white;
    border: black 1px solid;
    border-radius: 5px;
	text-align: center;		
}

input[type='text'], input[type='password']
{
    width: 240px;
    height: 50px;
	margin: 5% auto;
	position: relative;
	font-size: 20px;
}
		
input[type='submit'], input[type='button'] 
{
    width: 240px;
    height: 50px;
	margin-left: 20% auto;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: cadetblue;
}
		
.signup
{
	width: 300px;
	background-color: #324252;
	margin: 20% auto;
	position: relative;
	padding: 75px 50px 50px 50px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	border-radius: 10%;
}
		
.links
{
	text-decoration: white;
}

.footer
{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 4%;
	background-color: #324252;
	/* background-image: url("img/headerfoot.jpg");
	background-repeat: no-repeat;
	background-size: cover; */
	text-align: center;	
	margin-right: 10%;
}

.forgotpwd
{
	width: 300px;
	background-color: #324252;
	margin: 20% auto;
	position: relative;
	padding: 75px 50px 50px 50px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	border-radius: 10%;
}

.resetpwd
{
	width: 300px;
	background-color: #324252;
	margin: 20% auto;
	position: relative;
	padding: 75px 50px 50px 50px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	border-radius: 10%;
}

.update
{
	width: 300px;
	background-color: #324252;
	margin: 10% auto;
	position: relative;
	padding: 75px 50px 50px 50px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	border-radius: 10%;
}

.container 
{
	max-width: 1250px;
	margin: 30px auto 30px;
	padding: 0 !important;
	width: 90%;
	background-color: #FEF9E5;
	box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.10);
}

main 
{
	padding: 20px 20px 0px 20px;
}
	  
.left 
{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
	  
.photo 
{
	width: 200px;
	height: 200px;
	margin-top: -120px;
	border-radius: 100px;
	border: 4px solid #fff;
}
	  
/* .active 
{
	width: 20px;
	height: 20px;
	border-radius: 20px;
	position: absolute;
	right: calc(50% - 70px);
	top: 75px;
	background-color: #FFC107;
	border: 3px solid #fff;
} */
	  
/* @media (max-width:990px) 
{
	.active 
	{
		right: calc(50% - 60px);
		top: 50px;
	} 
} */
	  
.name 
{
	margin-top: 20px;
	font-family: "Open Sans";
	font-weight: 600;
	font-size: 18pt;
	color: #777;
}
	  
.info 
{
	margin-top: -5px;
	margin-bottom: 5px;
	font-family: 'Montserrat', sans-serif;
	font-size: 11pt;
	color: #aaa;
}
	
.right 
{
	padding: 0 25px 0 25px !important;
}
	  
.nav 
{
	display: inline-flex;
}
	  
.nav li 
{
	margin: 40px 30px 0 10px;
	cursor: pointer;
	font-size: 13pt;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: #888;
}
	  
.nav li:hover, .nav li:nth-child(1)  
{ 
	color: #999;
	border-bottom: 2px solid #999;
}

.nav a:link, a:visited,  a:active
{
	color: #999;
	text-decoration: none;
}
	  
/* @media (max-width:990px) 
{
	.nav 
	{
		display: none;
	}
} */
	 
.gallery  
{
	margin-top: 35px;
}
	  
.gallery div 
{
	margin-bottom: 30px;
}
	  
.gallery img 
{
	box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.10);
	width: auto; 
	height: auto;
	cursor: pointer;
	max-width: 100%;
}

.upload
{
	margin-top: 5px;
}

#img_div
{
	width: 80%;
	padding: 5px;
	margin: 15px auto;
	border: 1px solid black;
}

#img_div::after
{
	content: "";
	display: block;
	clear: both;
}

/* img 
{
	float: left;
	margin: 5px;
	width: 300px;
	height: 140px;
} */

.editor
{
	width: 300px;
	background-color: #324252;
	margin: 20% auto;
	position: relative;
	padding: 75px 50px 50px 50px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	border-radius: 10%;
}

.gallery {
	background-color: beige;
	width: 300px;
	margin: 0 auto 30px;
	overflow: hidden;

}

.gallery h2 {
}

.gallery div {
	margin: 20px;
	height: 220px;
	background-color: #ccc;
}